@page
@model CarBookingWeb.Pages.CarPages.DetailsModel
@{
    ViewData["Title"] = "Cars";
}

<h1>Car Details</h1>

<div>
    <hr />
    <dl class="row">
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Id)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.Car.CarMaker.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model=>model.Car.CarMaker.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CarModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.CarModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CarColor.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.CarColor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.LicensePlateNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.LicensePlateNumber)
        </dd>
    </dl>
</div>

<div>
    <a asp-page="/CarPages/Edit" asp-route-carId="@Model.Car.Id" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i> Edit</a> |
    <a asp-page="/CarPages/Index" class="btn btn-outline-primary"><i class="fa-solid fa-arrow-left"></i> Back</a>
</div>